.container{
    width:1200px;
    margin:0 auto;
}
.bg-content{
    background-size: cover;
    background: url('../images/background.png') fixed;
}
.header{
    background: rgba(0,0,0,0.5);

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hexagon{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 55px;
    height: 60px;
    background: #18cfab;
    margin-right: 4px;
}
.header-logo{
    font-family: sans-serif;
    font-size:26px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo-img{
    padding-right: 10px;
}
.header-logo::before{
    content: 'H';
    font-size:36px;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    left:15px;
    z-index: 1;
}
.text-bold{
    font-weight: bold;
    color:#18cfab;
    font-size:26px;
    padding-left:3px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
}
.nav-menu-item{
    padding:50px 10px;
    display: inline-block;
}
.nav-menu-link{
    color:#b8b8b8;
    text-decoration: none;
    font-size:15px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.nav-menu-link:hover{
    color:#18cfab;
}
.active{
    border-bottom: 2px solid #18cfab;
}
.active a{
    color:#18cfab;
}
.jumbotron-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:200px;
}
.jumbotron-heading-text{
    color:#fff;
    font-size:26px;
    font-weight: bold;
    padding:10px 0;
}
.big-text{
    font-size:38px;
    font-weight: bold;
}
.text-slogan{
    font-size:26px;
    color:#d4d4d4;
    text-transform: capitalize;
}
.jumbotron-buttons{
    padding:90px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.jumbotron-button-type{
    height: 70px;
    width: 170px;
    text-align: center;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border:none;
    border-top:5px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.btn-green{
    background: #18cfab;
    margin-right:30px;
}
.btn-blue{
    background: #00cbf6;
}

.tabs-content{
    display: flex;
    justify-content: flex-start;
}
.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 4);
    padding:100px 0;
    text-align: center;
}
.tab-color-gray{
    background: #1c2a33;
    border-top:7px solid #18cfab;
}
.tab-color-green{
    background: #18cfab;
    border-top:7px solid #fff;
}
.tab-text{
    text-transform: uppercase;
    font-size:16px;
    font-weight: bold;
    padding-top:30px;
    letter-spacing: 1px;
}
.color-green{
    color:#18cfab;
}
.color-white{
    color:#fff;
}
.services-content{
    padding-top:100px;
}
.services-flex{
    display: flex;
    flex-direction: column;
}
.service-title{
    text-align: center;
    font-size: 40px;
    color:#4e4e4e;
    padding-bottom:30px;
}
.lines{
    position: relative;
}
.title-line{
    width:100px;
    text-align: center;
    border-top:1px solid #18cfab;
}
.line-bottom{
    position: absolute;
    left:47%;
    top:6px;
}

.services-tabs{
    display: flex;
    align-items: center;
    margin-top:50px;
    justify-content: space-evenly;
}
.service-tab{
    padding:35px 43px;
    text-align: center;
    color:#9c9d9e;
    font-size:18px;
    font-family: sans-serif;
    z-index:0;
    background: #f8fcfe;
    border: 1px solid #ebebeb;
    cursor: pointer;

}
.service-active{
    background: #18cfab;
    color:#fff;
    position: relative;
    border:none;
    border: 1px solid #18cfab;
    cursor: default;
}
.service-active::after{
    content: '';
    width: 50px;
    height: 50px;
    background: #18cfab;
    transform: rotate(45deg);
    position: absolute;
    top:41px;
    z-index:-1;
    left:35%;
}
.service-detail{
    display: flex;
    padding:35px 0;
    justify-content: center;
    align-items: flex-start;
}
.detail-img{
    width:200px;
    padding-right: 30px;
}
.detail-text{
    text-align: justify;
    font-size: 18px;
    color: #777777;
}
.d-none{
    display: none!important;
}
.buy-section{
    background-size: cover;
    padding:100px 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/background-pay-install.png') center fixed;
}
.section-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-title{
    font-size:36px;
    font-weight: bold;
    color:#18cfab;
    text-transform: uppercase;
}
.section-title-slogan{
    color:rgba(255,255,255,0.7);
    padding-top:24px;
    font-size:16px;
    padding-bottom: 80px;
}
/*OUR WORK*/
.our-work-section{
    background: #f8fcfe;
}
.our-work-flex{
    display: flex;
    flex-direction: column;
}
.our-work-title{
    text-align: center;
    font-size: 40px;
    color:#4e4e4e;
    padding:30px 0;
}
.works-container{
    width:750px;
    margin:0 auto;
}
.work-categories{
    display: flex;
    align-items: center;
    margin-top:20px;
    padding-bottom: 70px;
}
.work-category-item{
    padding:20px 33px;
    border:1px solid #ebebeb;
    font-size: 18px;
    color: #676767;
    background: #fff;
    cursor: pointer;
}
.category-active{
    border-top:3px solid #18cfab;
    color:#18cfab;
}

.gallery-works{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.gallery-item{
    position: relative;
}

.load-more{
    text-align: center;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-load-more{
    border:none;
    color:#fff;
    text-transform: uppercase;
    background: #18cfab;
    padding:15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top:10px;
}
.footer-content{
    text-align: center;
    background: #22353f;
    color:rgba(255,255,255,0.7);
    font-size:16px;
    padding:30px 0;
}
.footer-text-green{
    color:#18cfab;
    text-decoration: none;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #18cfab;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.gallery-item-d-none{
    display: none!important;
}

.gallery-item-hover{
    background: white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-top:2px solid #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#18cfab;
}
.gallery-item-hover-content-icons{
    display: flex;
    flex-direction: row;

}
.gallery-item-hover-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
.gallery-item-hover-icon:hover{
    background: #18cfab;
    color:#fff;
}
.gallery-item-hover-content{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    justify-content: center;
    align-items: center;
}
.gallery-item-hover-header{
    font-size:22px;
    font-weight: bold;
}
.gallery-item-hover-text{
    color:rgba(0,0,0,0.6);
    font-size:16px;
    padding-top:10px;
}