.page-bg{
    background: url("../images/bg.png") top;
    background-size: cover;
    padding-bottom: 50px;
    height: 100vh;
}
.container{
    width:1280px;
    margin:0 auto;
}
.header{
    background-color: rgba(0,0,0,0.5);
}
.flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-link{
    text-decoration: none;
}
.header-logo-text{
    color:#fff;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    padding:15px 10px;
    transition:color 1s ease-in-out;
}
.header-logo-text:hover{
    color: #3cb878;
}
.header-right-side{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
}
.header-icon-link{
    width: 25px;
    height: 20px;
    background-size: contain;
    margin: 0 20px;
    transition: color 1s ease-in-out;
}
.header-icon-link:hover{
    color: #3cb878;
}
.calendar{
    background: url("../images/calendar.png") no-repeat center;
}
.calendar:hover{
    background: url("../images/calendar-hover.png") no-repeat center;
}
.forum{
    background: url("../images/forum.png") no-repeat center;
}
.forum:hover{
    background: url("../images/forum-hover.png") no-repeat center;
}
.compass{
    background: url("../images/compass.png") no-repeat center;
}
.compass:hover{
    background: url("../images/compass-hover.png") no-repeat center;
}
.header-icon{
    width:100%;
}
.header-right-text{
    color:#fff;
    font-size: 18px;
    font-family: sans-serif;
}
.header-text-green{
    color:#3cb878;
    text-decoration: none;
}
.header-text-green:hover{
    text-decoration: underline;
}
.border-left::before{
    content: '';
    border-right: 1px solid #fff;
    margin-right: 15px;
    opacity: 0.4;
}
.container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content-center{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 60px;
    position: relative;
}
.content-flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
}
.content-signup-text{
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    font-family: sans-serif;
    font-weight: 600;
}
.content-signup-text::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    position: absolute;
    top:30px;
    left:0px;
}
.content-login-text{
    color:#3cb878;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}
.content-login-text:hover{
    text-decoration: underline;
}
.social-buttons{
    display: flex;
    justify-content: center;
}
.icon-link{
    font-size: 20px;
    font-family: sans-serif;
    color:#fff;
    padding:13px 40px 13px 20px;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
    position: relative;
    transition: background-color 1s ease-in-out;
}
.facebook{
    background-color: #305db8;
}
.facebook:hover{
    background-color: #264b96;
}
.social-media-icon{
    height: 20px;
    padding-right: 30px;
}
.social-media-text::before{
    content: '';
    width: 25px;
    height: 25px;
    border-left: 1px solid #000000;
    position: absolute;
    top:12px;
    left:25%;
    opacity: 0.2;
}
.gmail{
    background-color:#df4a32;
    margin-left: 20px;
}
.gmail:hover{
    background-color: #c3412c;
}
.social-media-text-gmail::before{
    content: '';
    width: 25px;
    height: 25px;
    border-left: 1px solid #000000;
    position: absolute;
    top:12px;
    left:60px;
    opacity: 0.2;
}
.content-line-container{
    margin-top:40px;
    margin-bottom: 20px;
    position:relative;
}
.content-line::before{
    content: 'or';
    position: absolute;
    top:-8px;
    left: calc(50% - 30px); /*because of width 60px*/
    font-size:18px;
    color: rgba(132, 132, 132, 255);
    font-family: sans-serif;
    width: 60px;
    text-align: center;
    background-color: #fff;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-input{
    font-size: 18px;
    padding:17px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom:20px;
    opacity: 0.5;
    transition:opacity 1s ease-in-out;
}
.form-input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border:1px solid #fff;
    opacity: 1;
}
.form-agreement-text{
    text-decoration: none;
    color:#3cb878;
}
.form-agreement-text:hover{
    text-decoration: underline;
}
.btn-create-account{
    margin-top:20px;
    background: #3cb878;
    padding:18px 30px;
    text-align: center;
    font-size:18px;
    font-family: sans-serif;
    width: 100%;
    border:none;
    color:#fff;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s linear;
}
.btn-create-account:hover{
    background-color: #329a65;
}
/*Checkbox with Pure CSS*/
.form-checkbox{
    display: none;
}
.text-agreement{
    font-size:20px;
    font-family: sans-serif;
    opacity: 0.9;
    cursor: pointer;
}
.form-agreement{
    font-size: 16px;
}
.text-agreement:before{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "\00a0\00a0"; /*for null content*/
    text-align: center;
    border: 1px solid #ccc;
    padding:2px;
}
.text-agreement:hover::before{
    background: #ccc;
}
.form-checkbox:checked ~ .text-agreement:before{
    content: '\2714';
    color:#3cb878;
    background: #fff;
    padding:2px;
}
