.modal {
  background: #e74c3c;
  width:50%;
  margin:0 auto;
  border-radius: 5px;
  transition: opacity 2s;
  &-bg{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
    padding-top:110px;
  }
  &-header {
    background: #d44637;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
  &-close{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
    &-title {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
    }
  }

  &-close-line {
    width: 25px;
    height: 1px;
    background: #fff;
    margin-top:10px;
    margin-right: 10px;
    transform: rotate(-45deg);
  }

  &-close-line-opposite {
    width: 25px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    color: #fff;
    font-size: 18px;

    &-text-main {
      text-align: center;
      padding:0 50px;
    }

    &-buttons{
      padding-top: 30px;
    }
  }
  &-button{
    background: #b3382c;
    color:#fff;
    text-align: center;
    border:none;
    padding:10px 30px;
    margin-right: 10px;
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
  }
}